[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/hermes"]
	path = third_party/hermes
	url = https://github.com/facebook/hermes.git
[submodule "third_party/quickjs"]
	path = third_party/quickjs
	url = https://github.com/bellard/quickjs.git
[submodule "third_party/uthash"]
	path = third_party/uthash
        url = https://github.com/troydhanson/uthash.git
[submodule "third_party/react-native"]
	path = third_party/react-native
	url = https://github.com/facebook/react-native.git
[submodule "third_party/folly"]
	path = third_party/folly
	url = https://github.com/facebook/folly.git
[submodule "third_party/double-conversion"]
	path = third_party/double-conversion
	url = https://github.com/google/double-conversion.git
[submodule "third_party/boost-for-react-native"]
	path = third_party/boost-for-react-native
	url = https://github.com/react-native-community/boost-for-react-native.git
